.container-img-post {
  display: flex;
  max-width: 300px;
}

.img-post {
  width: 100%;
}

.container-avatar {
  display: flex;
  max-width: 300px;
}

.avatar {
  max-width: 150px;
}

.card-grid{

  justify-content: space-evenly
}

.container-post-profile{
  display: flex;
  flex-wrap: wrap;
}



// p {
//   background-color: red;
// }

