@import "../../index.scss";

.post-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px ;
}

.post-card-header-container {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.post-card-container:hover .post-card-header-container {
  opacity: 1;
}
