@import "../../../index.scss";

.detail-post-container {
  margin-top: 20px;
//   Cambiar esto para que sea responsive
  width: 448px; 
}

.like-container{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.form-title-container {
  margin-bottom: 5px;
}

.img-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.input-file-container {
}

.img-preview-container {
  min-width: 100%;
  height: auto;
}
