.search-container {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.search {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #cbcbcc;
  color: #0c0b20;
  transition: 0.3s ease;
}

.search::placeholder {
  color: #3a3a50;
}

.search:focus,
search:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  width: 3rem;
}

.div-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-toggle {
  display: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Estilos para pantallas menores o iguales a 480px */
@media (max-width: 480px) {
  .manu_principal {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
