@import "../../variables.scss";

.search-container {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}

.search {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: $grey-color-light;
  color: $black-color;
  transition: 0.3s ease;
}

.search::placeholder {
  color: #3a3a50;
}

.search:focus,
search:hover {
  outline: none;
  border-color: rgba(225, 67, 20, 0.719);
  background-color: $white-color;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  width: 3rem;
}

.div-toggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-toggle {
  display: none;
}

.container-drawer {
  background-color: rgb(207, 207, 207) !important;
  opacity: 0.6 !important;
  display: flex;
}

.btn-drawer-header {
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


@media (max-width: 480px) {
  .manu_principal {
    display: none;
  }

  .menu-toggle {
    display: block;
  }
}
