@import "../../../index.scss";

.card-comments-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.comments-container {
  width: 448px;
  text-align: justify;
  background-color: $white-color;
  border: solid 1px $primary-color-05;
  border-radius: 0px;
  margin-bottom: 10px;
}

.form-container {
  margin-top: 20px;
  min-height: 100vh;
}
