@import "../../../index.scss";

.comments-container{
    max-width: 448px;
    text-align: justify;
    background-color: $white-color;
    border: solid 1px $primary-color-05;
    border-radius: 0px;
}

.form-container {
  margin-top: 20px;
  min-height: 100vh;
}