@import "../../../index.scss";

.post-container {
  position: relative;
  display: inline-block;
}

.post-header-container {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.post-footer-container {
  background-color: $white-color;
}

@media screen and (min-width: 1200px) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-container {
    max-width: 448px;
    margin: 10px;
  }
  
  .post-container:hover .post-header-container {
    opacity: 1;
  }
}
