@import "../../../index.scss";

.card-container {
}

.post-container {
  position: relative;
  display: inline-block;
}

.post-header-container {
  position: absolute;
  padding: 10px;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.post-container:hover .post-header-container {
  opacity: 1;
}

.post-footer-container {
  background-color: $white-color;
}

@media screen and (min-width: 1200px) {
    
  .post-header-container {
    opacity: 1;
  }
}
