@import "./variables.scss";

img {
  width: 100%;
  height: auto;
}

// ! Añado esto para que se vea en todo el ancho de pantalla
#root {
  padding: 0px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $black-color;
  background-color: $white-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: inherit;
}
a:hover {
  color: $secondary-color;
}

// body {
//   margin: 0;
//   display: flex;
//   //place-items: center;
//   min-width: 320px;
//   min-height: 100vh !important;
// }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-card {
  background: $tertiary-color !important;
  color: $white-color !important;
}
